<h1>Novo Produto</h1>

<form>
  <div class="form-group">
    <label for="produtoNome">Nome</label>
    <input type="text" class="form-control" id="produtoNome" required>
    <div class="invalid-feedback">Example invalid feedback text</div>
  </div>
  <div class="form-group">
    <label for="produtoDescricao">Descrição</label>
    <textarea class="form-control" id="produtoDescricao" rows="3" required></textarea>
    <div class="invalid-feedback">Example invalid feedback text</div>
  </div>




  <button type="submit" class="btn btn-primary">Submit</button>
</form>
