<h1>Detalhes do produto</h1>

<div [hidden]="submitted">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="produtoNome">Nome</label>
      <input type="text" class="form-control" id="product.name" name="product.name" [(ngModel)]="product.name" required>
      <div class="invalid-feedback">Campo inválido</div>
    </div>
    <div class="form-group">
      <label for="produtoDescricao">Descrição</label>
      <textarea class="form-control" id="product.description" name="product.description" rows="3" [(ngModel)]="product.description" required></textarea>
      <div class="invalid-feedback">Campo inválido</div>
    </div>
    <div class="form-group">
      <label for="produtoPreco">Preço</label>
      <input type="number" class="form-control" id="product.price" name="product.price" [(ngModel)]="product.price" required>
      <div class="invalid-feedback">Campo inválido</div>
    </div>
    <div class="form-group">
      <ng-select name="selectCategories" [items]="categories"
                 bindLabel="name"
                 [(ngModel)]="product.categories"
                 [selectOnTab]="true"
                 [multiple]="true"
                 [closeOnSelect]="false">
      </ng-select>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Produto Salvo!</h4>
</div>
